@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* Colors */
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Gray: hsl(210, 17%, 16%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Overpass', sans-serif;
}

  body {
    background-color: var(--Very-Dark-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--White);
    margin: 0 auto;
  }

  .img-wrapp img {
    display: block;
    background-color: var(--Dark-Gray);
    padding: 1em;
    border-radius: 50%;
  }

  h1, h2 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.7rem;
  }

  .wrapper{
    max-width: 420px;
    background-color: var(--Dark-Blue);
    padding: 1.8em;
    border-radius: 20px;
  }

  p { 
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--Medium-Grey);
  } 

  .thank-you {
      max-width: 420px;
      background-color: var(--Dark-Blue);
      padding: 1.8em;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1em auto;
  }

  .hidden {
    display: none;
  }

  .thank-you p {
    text-align: center;
    margin-bottom: 1em;
  }

  .thank-you div {
    background-color: var(--Dark-Gray);
    color: var(--Orange);
    padding: .5em 1.5em;
    border-radius: 30px;
    margin-top: 2em;
  }

  .rating-stars {
     margin-block: 2em;
     display: flex;
     align-items: center;
     justify-content: space-around;
  }

  .rating-stars li {
    list-style: none;
  }

  .rating-btn {
    background-color: var(--Dark-Gray);
    color: var(--Light-Grey); 
    padding: 1em 1.5em; 
    border: none;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
  }

  .rating-btn:hover {
    background-color: var(--Orange);
    color: var(--White);
  }

  .rating-btn:focus {
    background-color: var(--Light-Grey);
    color: var(--White);
  }

  .submit-btn,
  .rate-btn {
    width: 100%;
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    border-radius: 30px;
    padding: .8em 1.6em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .submit-btn:hover,
  .rate-btn:hover {
    color: var(--Orange);
    background-color: var(--White);
  }

  .attribution { 
    margin-top: 3em;
    font-size: 11px; 
    text-align: center; 
  }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }